.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $margin-base;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $margin-base 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $margin-base;
}

#full-page-map {
	width: 100%;
	min-height: 500px;
}	