p {
	margin-bottom: $margin-base;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: (0.5 * $margin-base) $margin-base;
	color: palette(mono, dark);
}

address {
	margin: 0 0 $margin-base;
}

pre {
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: 1.6;
	margin-bottom: 1.5 * $margin-base;
	max-width: 100%;
	overflow: auto;
	padding: $margin-base;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

