html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__bkgd;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: palette(mono, light);
	border: 0;
	height: 1px;
	margin-bottom: $margin-base;
}

#content,
#header-content,
#footer-content {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

@import "lists";

img, svg {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	width: 100%;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.hidden {
	display: none;
}

.icon {
	display: inline-block;
}
.icon svg {
	position: relative;
	fill: palette(mono, darkest);
	width: auto;
}
.icon-small svg {
	height: $text__base;
	top: 2px;
	margin-right: 4px;	
}
.icon-medium svg {
	height: $text__base * $text__scaling;
	top: 3px;
	margin-right: 6px;
}
.icon-large svg {
	height: $text__base * $text__scaling * $text__scaling;
	top: 4px;
	margin-right: 8px;
}

.content-wrap {
	padding: $margin-base;
}

@import "tables";

/*************************************
**             FORMS                **
*************************************/

@import "forms";