ul, ol {
	margin: $margin-base 0 $margin-base ($margin-base * 1.5);
}

ul {
	list-style: disc;
	padding: 0;
}

ol {
	list-style: decimal;
}

li {
	margin-bottom: ($margin-base * 0.25);
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-top: 0;
	margin-left: $margin-base;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $margin-base $margin-base;
}